@using System.IO
@{
	ViewData["Title"] = "RiepilogoRegistrazione";
	Layout = "_LayoutStampa";
	bool variazione = Model.VariazioneRappresentanteLegale == true;
	Documento documentoNomina = Model?.DocumentoNomina;
}
@model Registrazione

<div class="hidePrint">
	<br />
	<br />
</div>


<div class="text-center">
	@{
		var bytes = File.ReadAllBytes($"{System.IO.Directory.GetCurrentDirectory()}/wwwroot/Images/Logo-circolare.png");
	}
	<img class="logo" alt="Servizio Civile" src="data:image/png;base64,@Convert.ToBase64String(bytes)" />


	<br />


	<h3 class="text-center">Registrazione al Sistema Unico</h3>
	<p>@(Model.Genere == "F" ? "La sottoscritta" : "Il sottoscritto"): @Model.Cognome @Model.Nome identificato dal C.F. @Model.CodiceFiscaleRappresentanteLegale</p>
	<p>In qualità di Rappresentante Legale dell'ente  "@Model.Denominazione" (Codice Fiscale @Model.CodiceFiscaleEnte)</p>
	<h3 class="text-center">CHIEDE</h3>
	<p>
		- l’accesso al Sistema Unico.
	</p>

	<h3 class="text-center">DICHIARA</h3>
	<p>- di essere il Rappresentante Legale dell'ente "@Model.Denominazione" dal @Model.DataNominaRappresentanteLegale?.ToString("dd/MM/yyyy")</p>
	@if (!variazione)
	{
		<p>- che l'ente ha sede legale in @Model.Indirizzo</p>
		<p>- che l'ente è @Model.Categoria?.Descrizione.ToLower() ed è della seguente tipologia: @Model.TipologiaEnte?.Descrizione</p>
		<p>- che l'ente ha i seguenti contatti:</p>
		<ul>
			<li>Telefono: @Model.Telefono</li>
			<li>E-mail: @Model.Email</li>
			<li>PEC: @Model.PEC</li>
			<li>Sito web: @Model.Sito</li>
		</ul>
	}
	@if (documentoNomina?.Blob!=null)
	{
		<p>- di aver allegato l'atto nomina/altro identificato con hash @documentoNomina?.Hash</p>
	}

</div>



