@{
	ViewBag.Title = "Imposta Password";
}

@section scripts{
	<script>
		function Controlli() {
			var controlloOK = true;
			$("#frmCambiaPassword .form-control").each(function () {
				if (!ControllaSingolo(this)) {
					if (controlloOK) {
						$(this).focus();
					}
					controlloOK = false;
				}
			});
			if (!ControllaPassword($("#txtRipetiPassword").first())) {
				$("#txtRipetiPassword").focus();
				controlloOK = false;
			}

			return controlloOK;
		}

		function ControllaSingolo(elem) {
			var controlloOK = true;
			$(elem).removeAttr("style");
			$(elem).parent().find("small").hide();
			if ($(elem).hasClass("required") && !$(elem).val()) {
				$(elem).css("border-color", "red");
				$(elem).parent().find("small").html("Campo obbligatorio").show();
				controlloOK = false;
			}
			return controlloOK;
		}

		function ControllaPassword(elem) {
			if ($(elem).val() != $("#txtPassword").val()) {
				$(elem).parent().find("small").html("Le password non corrispondono").show();
				return false;
			}
			return true;
		}
	</script>
}
	@if (!string.IsNullOrEmpty(ViewData["Errore"] as string)) {
		<div class="alert alert-danger">@Html.Raw(ViewData["Errore"])</div>
	}
	<h2>Cambia Password</h2>
	<form id="frmCambiaPassword" action="@Url.Action("CambiaPassword")" method="post" onsubmit="return Controlli();" novalidate>
		@Html.AntiForgeryToken()
		@Html.Hidden("userId", ViewData["UserId"])
		@Html.Hidden("tokenId", ViewData["TokenId"])
		@Html.Hidden("code", ViewData["Code"])
		<div class="form-group">
			<label for="txtPasswordAttuale">Password Attuale</label>
			<input name="passwordAttuale" type="password" class="form-control required" id="txtPasswordAttuale" placeholder="Inserire la password attuale">
			<small class="form-text text-danger" style="display:none"></small>
		</div>
		<div class="form-group">
			<label for="txtPassword">Nuova Password</label>
			<input name="password" type="password" class="form-control required" id="txtPassword" placeholder="Impostare la nuova password">
			<small class="form-text text-danger" style="display:none"></small>
		</div>
		<div class="form-group">
			<label for="txtRipetiPassword">Ripeti Nuova Password</label>
			<input name="ripetiPassword" type="password" class="form-control required" id="txtRipetiPassword" placeholder="Ripetere la nuova password">
			<small class="form-text text-danger" style="display:none"></small>
		</div>
		<button type="submit" class="btn btn-default">Cambia password</button>
	</form>

